
/* JAF Bernino Sans Web */
@font-face{ font-family: BerninoSans-Web-Light;     font-style: normal; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Light");}
@font-face{ font-family: BerninoSans-Web-Light;     font-style: italic; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-LightItalic");}
@font-face{ font-family: BerninoSans-Web;           font-style: normal; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Regular");}
@font-face{ font-family: BerninoSans-Web;           font-style: italic; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Italic");}
@font-face{ font-family: BerninoSans-Web-Semibold;  font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Semibold");}
@font-face{ font-family: BerninoSans-Web-Semibold;  font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-SemiboldItalic");}
@font-face{ font-family: BerninoSans-Web;           font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Bold");}
@font-face{ font-family: BerninoSans-Web;           font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-BoldItalic");}
@font-face{ font-family: BerninoSans-Web-Extrabold; font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Extrabold");}
@font-face{ font-family: BerninoSans-Web-Extrabold; font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-ExtraboldItalic");}

/* JAF Bernino Sans Web Narrow */
@font-face{ font-family: BerninoSans-Web-NarrowLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowLight");}
@font-face{ font-family: BerninoSans-Web-Narrow;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowRegular");}
@font-face{ font-family: BerninoSans-Web-NarrowSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowSemibold");}
@font-face{ font-family: BerninoSans-Web-Narrow;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowBold");}
@font-face{ font-family: BerninoSans-Web-NarrowExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowExtrabold");}

/* JAF Bernino Sans Web Condensed */
@font-face{ font-family: BerninoSans-Web-CondLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedLight");}
@font-face{ font-family: BerninoSans-Web-Cond;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedRegular");}
@font-face{ font-family: BerninoSans-Web-CondSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedSemibold");}
@font-face{ font-family: BerninoSans-Web-Cond;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedBold");}
@font-face{ font-family: BerninoSans-Web-CondExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedExtrabold");}

/* JAF Bernino Sans Web Compressed */
@font-face{ font-family: BerninoSans-Web-CompLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedLight");}
@font-face{ font-family: BerninoSans-Web-Comp;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedRegular");}

@font-face{ font-family: BerninoSans-Web-CompSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedSemibold");}
@font-face{ font-family: BerninoSans-Web-Comp;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedBold");}
@font-face{ font-family: BerninoSans-Web-CompExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedExtrabold");}


a { -webkit-transition: all 200ms linear; -moz-transition: all 200ms lism-8mnear; -o-transition: all 200ms linear; transition:all 200ms linear; cursor:pointer;  }
a:hover, a:active { text-decoration:none !important; }
a:focus { outline:none; }
::-moz-selection { color: #fff; background:#1d93bd; text-shadow:none; }
::selection { color: #fff; background:#6ebc40; text-shadow:none; }
p { display:block; padding:0px; }
.clear { margin:0; padding:0; height:0; clear:both;}
h1,h2,h3,hr,p,ul,li { margin:0px; padding:0px; }
/*-------------------------------------------------------*/

body { margin:0px ; padding:0px; background:#fff; font-family:BerninoSans-Web; padding:0!important; color:#5B5C5C;}

/*body { margin:0px ; padding:0px; background:#fff;  padding:0!important; color:#5B5C5C; font-family: "Lava Regular"; font-weight: normal;}*/



/*Header Start*/
#mg_header { margin:0px; display:block; position:fixed; left:0; top:0; right:0; z-index:999; }
#mg_header .mg_header_in { display:block; background:#000; min-height:57px; padding:17px 10px; }
#mg_header .mg_header_in .mg_logo { display:block; outline:0; text-align:left; }
#mg_header .mg_header_in .mg_tpnav { display:block; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu { display:block; margin:0px; padding:0px; list-style:none; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu li { display:block; float:left; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu li a { color:#8b8e95; font-size:17px; padding:0px 10px;  }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu li a:hover, a:focus { color:#fff ; text-decoration:none; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu li a.activ { color:#fff; }
#mg_header .mg_header_in .mg_search_box { margin:0px; padding:0px; float:right; display:block; position:relative; }
#mg_header .mg_header_in .mg_search_box input { background:#333537; color:#8b8e95; border:none; min-height:30px; margin:0px; padding:0px 30px 0px 10px; font-size:13px; }
#mg_header .mg_header_in .mg_search_box button { display:block; position:absolute; top:4px; right:2px; color:#BBBBBB; background:none; border:none; outline:0;  }
#mg_header .mg_header_in .mg_tpnav .mobile_navigation { display:none; }
#mg_header .mg_submenu_block { display:block; background:transparent; padding:10px 0px; width:100%;  }
#mg_header .mg_submenu_block .mg_submenu { display:block; list-style:none; text-align:left;  }
#mg_header .mg_submenu_block .mg_submenu li { display:block; float:left;  }
#mg_header .mg_submenu_block .mg_submenu li a { font-size:14px; padding:0px 10px; font-family:BerninoSans-Web-Semibold; }
#mg_header .mg_submenu_block .mg_submenu li a:hover, a:focus { color:#000;  }
/*Header End*/

/*Container Start*/
#container_block { display:block; margin:100px auto 50px auto; padding:0px 10px; min-height:300px; }
#container_block .mg_main_font_block { display:block; margin-top:20px; }
#container_block .mg_main_font_block .mg_font_block { display:block; padding:10px 0px 0px 0px; }
#container_block  h2 { display:block; font-size:35px; padding-bottom:15px; text-align:left; font-weight:bold; padding-top:10px;   color: #3F4346; }
#container_block  h3 { display:block; font-size:22px; padding-bottom:5px; text-align:left; font-weight:bold; padding-top:0px; color:#378cc2; }
#container_block  h3:hover { color:#f26d7e; }
#container_block  h4 { display:block; font-size:25px; padding-bottom:15px; text-align:left; font-weight:bold; color:#666;  }
#container_block  p { display:block; font-size:20px; padding-bottom:10px; text-align:left; font-weight:normal; font-family:BerninoSans-Web-NarrowLight; color:#6C6C6C; }
#container_block .mg_list_style { display:block; list-style:disc; margin-bottom:10px; }
#container_block .mg_list_style li { padding:3px 0px; font-size:18px; color:#6C6C6C; margin-left:15px;  }
#container_block .mg_list_style2 { display:block; list-style:none; margin-bottom:10px; }
#container_block .mg_list_style2 li { padding:3px 0px; font-size:18px; color:#6C6C6C;  }
#container_block .mg_list_style2 li span { font-size:22px; }
#container_block .mg_main_font_block .mg_font_block .mg_font_style { display:block; font-size:150px; font-weight:bold; margin:0px; padding:0px 0px 10px 0px !important; line-height:145px; text-align:left; }
#container_block .mg_main_font_block .mg_font_block .mg_font_name { display:block; font-size:25px;  color:#4c5457; text-align:left;  }
#container_block .mg_main_font_block .mg_font_block .mg_font_dec { display:block; font-size:20px; color:#4c5457; font-weight:normal; text-align:left;  }
#container_block .mg_main_font_block .mg_font_block .mg_font_price { font-size:20px; color:#ccc; }
hr { margin-bottom:20px; }
#container_block .mg_mid_hdn { display:block; height:60px; background:#f26d7e; padding:13px 10px; text-align:center; color:#9b0336; font-size:23px; margin:20px 0px; }
#container_block .mg_mid_hdn span { color:#fff; text-decoration:underline;}
#container_block .mg_product_block { display:block; margin:30px 0px 20px 0px; }
#container_block .mg_product_block .mg_product_block_in { display:block; text-align:center; /*box-shadow:0 0 1px #CCCCCC;*/ padding:5px; margin:5px; }
#container_block .mg_product_block .mg_product_block_in:hover { /*box-shadow:0 0 2px #ccc;*/ -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; transition:all 200ms linear; }
#container_block .mg_product_block .mg_product_block_in .mg_product_img { display:block; min-height:325px; }
#container_block .mg_product_block .mg_product_block_in .mg_product_img img { min-height:250px; width:100%; }
#container_block .mg_product_block .mg_product_block_in .product_name { display:block; font-size:25px; color:#4c5457; }
#container_block .mg_product_block .mg_product_block_in .product_price { font-size:20px; color:#ccc; display:block;  }
#container_block .mg_product_block .mg_product_block_in:hover .product_name { color:#3686c5; }
#container_block .mg_product_block .mg_product_block_in:hover .product_price { color:#84b4ce; }

#container_block .text01 { display:block; font-size:106px; font-weight:bold; font-style:italic; text-align:center; line-height:110px; padding-bottom:20px; }
#container_block .text02 { font-size:20px; font-weight:bold; text-align:center; margin:0px; }
#container_block .text03 { font-size:30px; font-weight:normal; text-align:left; margin:0px; color:#878c92; line-height:35px; padding-bottom:10px; display:block; }
#container_block .text04 { font-size:22px; font-weight:normal; text-align:left; margin:0px; color:#000; line-height:28px; padding-bottom:10px; display:block; font-style:italic; font-family: BerninoSans-Web-Light; }
#container_block .text05 { font-size:20px; font-weight:bold; text-align:left; margin:0px; color:#4F5356; line-height:30px; padding-bottom:10px; display:block; padding-top:10px;  }
#container_block .text06 { font-size:22px;  text-align:left; margin:0px; color:#676B6E; line-height:28px; padding-bottom:10px; display:block; font-family:BerninoSans-Web-NarrowLight; }
#container_block .text07 { font-size:17px; font-weight:normal; text-align:left; margin:0px; color:#878c92; line-height:28px; padding-bottom:10px; display:block; font-family:BerninoSans-Web-NarrowLight; }
#container_block .text08 { font-size:20px; font-weight:normal; text-align:left; margin:0px; color:#878c92; line-height:26px; padding-bottom:10px; display:block; }
#container_block .text09 { font-size:16px; font-weight:normal; text-align:left; margin:0px; color:#878c92; line-height:26px; padding-bottom:10px; display:block; font-family:BerninoSans-Web-NarrowLight; }
#container_block .text10 { color:#fff !important; }
#container_block .mg_edit_block { display:block; border:1px solid #ccc; padding:10px 10px; margin-top:20px; }
#container_block .mg_edit_block .mg_edit_block_in { padding:0px 10px 0px 0px; display:block; text-align:left; }
#container_block .mg_edit_block .mg_edit_block_in select { border:1px solid #D2D2D2; background:#fff; padding:3px 4px; box-shadow:0px 0px 0px #000 !important; color:#666; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list { display:block; list-style:none; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li { display:block; float:left; padding:0px 5px; margin:0px;  }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_slide { width:252px; margin-top:0px; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_slide .mg_slider_btn { border-radius:50% !important; background:#4885bb !important; border:0 !important; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_a { text-align:center; }
#container_block .mg_bg { background:#000 !important; }
#container_block .mg_bg2 { background:#2b2c30 !important; border:0px solid #2b2c30 !important; }
#container_block .mg_bg3 { background:#fff !important; }


/*Tab Start*/
#container_block .mg_tab_block { display:block; position:relative; margin-top:50px; }
#container_block .mg_tab_block .tab_button { display:block; margin:0px; padding:0px; height:29px; list-style:none; border-bottom:1px solid #ccc; }
#container_block .mg_tab_block .tab_button li { display:block; float:left; }
#container_block .mg_tab_block .tab_button li a { padding:7px 20px; margin:0px; color:#565656; font-size:16px; font-weight:bold; height:40px; }
#container_block .mg_tab_block .tab_button li a:hover { background:#fff; color:#378cc2; text-decoration:none; }
#container_block .mg_tab_block .tab_button li.cc_active a { border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc; border-bottom:1px solid #fff;  height:43px; color:#378cc2 !important; }
/*Tab End*/
#container_block .mg_tab_block .mg_open_tab { display:block; padding:0px 0px; margin-top:20px;  }
#container_block .mg_tab_block .mg_btn_block { position:absolute; right:0; top:-10px ; z-index:2;  }
#container_block .mg_btn_block2 { margin:10px 0px; }
#container_block .mg_btn_block3 { margin:10px 0px; text-align:right; }
#container_block .mg_tab_block .mg_open_tab .open_tab1 { display:block; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in { display:block; margin-top:10px; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_img_block { display:block; padding:10px; background:#ccc; margin:10px 0px; height:250px; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_img_block_in { display:block; background:#DEDEDE; height:230px; font-size:50px; text-align:center; color:#ccc; padding-top:50px; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_font_style { display:block; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_font_style .mg_style_list { display:block; list-style:none; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_font_style .mg_style_list li { display:block; font-size:35px; line-height:50px; font-weight:normal; font-family: BerninoSans-Web-Light; }
#container_block .mg_style01 { font-family: BerninoSans-Web-NarrowLight !important; }
#container_block .mg_style02 { font-family: BerninoSans-Web-Narrow !important; }
#container_block .mg_style03 { font-family: BerninoSans-Web-Semibold !important; }
#container_block .mg_style04 { font-family: BerninoSans-Web-CompLight !important; }
#container_block .mg_style05 { font-family: BerninoSans-Web-CondLight !important; }
#container_block .mg_style06 { font-family: BerninoSans-Web-Cond !important; }
#container_block .mg_style07 { font-family: BerninoSans-Web-CondSemibold !important; font-style:italic; }
#container_block .mg_style08 { font-family: BerninoSans-Web-Narrow !important; }
#container_block .mg_style09 { font-family: BerninoSans-Web-NarrowExtrabold !important; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_languages_block { display:block; list-style:none; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_languages_block li { display:block; float:left; padding-right:10px; font-size:16px; font-family: BerninoSans-Web-CondLight; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_languages_block li a { color:#A5A5A5; }
#container_block .mg_tab_block .mg_open_tab .mg_tab_block_in .mg_languages_block li a:hover { color:#3787c6; }

#container_block .mg_shop_product { display:block; padding:10px; }
#container_block .mg_shop_product img { width:100%; }
#container_block .mg_shop_product .mg_dimation_list { display:block; list-style:none; margin-bottom:10px; }
#container_block .mg_shop_product .mg_dimation_list li { display:block; padding-right:15px; font-size:19px; font-family:BerninoSans-Web-NarrowLight; color:#7B7B7D; }
#container_block .mg_shop_product .mg_size_block { display:block; }
#container_block .mg_shop_product .mg_size_block .mg_size_block_in { display:block; padding:0px 0px 20px 0px; }
#container_block  select { border:1px solid #e2e2e2; background:#fff; padding:3px 4px; border-radius:3px; font-size:13px; color:#B7B7B7; box-shadow:0px 0px 2px #000; margin-bottom:5px; }
#container_block .mg_shop_product .mg_size_block .mg_instock { text-align:right; display:block; padding-top:5px; color:#8B8C90;}
#container_block .mg_shop_product .mg_size_block .mg_instock_out { text-align:right; display:block; padding-top:5px; color:red;}
#container_block .mg_shop_product .mg_size_block .mg_price_block { display:block; text-align:right; }
#container_block .mg_shop_product .mg_size_block .mg_price_pro { font-size:50px; }
#container_block .mg_shop_product .mg_size_block .mg_price_pro_out { font-size:50px; color:#ccc; }
#container_block .mg_large_pro_block { display:block; }
#container_block .mg_large_pro_block img { width:100%; }
#container_block .mg_sold_out { color:#ccc !important; }

#container_block .mg_checkout_block { display:block; }
#container_block .mg_checkout_block .mg_checkout_block_in { display:block; padding:0px 10px 0px 10px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_left_input { display:block; float:left; width:49%; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_rgt_input { display:block; float:right; width:49%;}
#container_block .mg_checkout_block .mg_checkout_block_in .mg_mid_input { display:block; }
#container_block input { border:1px solid #ccc; font-size:13px; color:#999999; font-weight:normal; margin:5px 0px 5px 0px; min-height:29px; }
#container_block input:focus { border-color:#378CC2 !important; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_order_note { display:block; color:#999999; font-size:16px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block { display:block; padding:10px 20px; background:#f4f4f4; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_block_lft { display:block; text-align:left; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_block_rgt { display:block; text-align:right; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_head { display:block; font-size:20px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_head2 { display:none; font-size:18px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_head3 { display:block; font-size:20px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block hr { margin:10px 0px !important; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_name { display:block; font-size:16px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_list { display:block; list-style:none; margin-bottom:10px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_list li { display:block; font-size:13px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .order_total { font-size:25px; font-weight:bold; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .expiration_text { display:block; padding:6px 0px 5px 0px}
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_box { display:block; margin-top:20px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_cross { font-size:22px; position:absolute; right:-20px; top:0; z-index:222;  }
#container_block .mg_checkout_block .mg_checkout_block_in .Quntity_input { width:40%; position:relative; float:right; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_cart_img { display:block; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_cart_font { font-size:150px; line-height:100px; margin-bottom:10px; display:block; }
#container_block .mg_blog_img { display:block; margin:10px 0px; }
#container_block .mg_blog_img img { width:100%; }
#container_block .mg_send_block { padding:13px 10px; background:#c3dae8; font-size:22px; text-align:center; color:#428BCA; height:60px; }
#container_block .mg_send_block span { color:#fff; text-decoration:underline; }

#tooltrip_box { display:none;  }
#tooltrip1 { background:#c3dae8;  margin:0px; padding:0px 20px 20px 0px; width:180px; display:block; }
.tooltrip_hdn { display:block; font-size:14px; color:#2789d0; padding-bottom:4px; font-weight:bold; line-height:22px; }

#container_block .place_btn { display:block; background:#f26d7e !important; padding:4px 20px !important; border:none !important; color:#fff; float:right !important;   }
#container_block .place_btn:hover {  background:#e66071 !important; }
.content-text { padding:0px 143px; }
.mg_blog_block h2 a { color:#3F4346; }
.detail_btn { display:block; background:#3c8bc4; padding:4px 20px; border:none; color:#fff; float:right; margin-left:5px; }
.detail_btn:hover { background:#317eb6;}
.input-checkbox { min-height:14px !important; }


/*Container End*/

/*Footer Start*/
#mg_footer_block { display:block; background:#000; min-height:64px; padding:20px 10px 20px 10px; margin-top:20px; z-index:3; border-top: 1px solid #202020; }
#mg_footer_block .footer_social_link { display:block; list-style:none; }
#mg_footer_block .footer_social_link li { display:block; float:left; padding-right:10px; }
#mg_footer_block .footer_social_link li a { text-decoration:none; }
#mg_footer_block .footer_social_link li a:hover { text-decoration:none; opacity:0.7; }
#mg_footer_block .footer_social_link li.mg_mailing_btn { background:#2b2c30; padding:3px 8px; display:block; }
#mg_footer_block .footer_social_link li.mg_mailing_btn a { color:#ccc !important; font-size:13px; }
#mg_footer_block #mg_subscribe { display:none; padding:10px; background:#2a2c2e; }
#mg_footer_block #mg_subscribe input[type='text'] {box-shadow:none; background:#111314; padding:5px 10px; border:0; font-size:13px; min-height:33px; color:#808080; margin-bottom:10px;  }
#mg_footer_block #mg_subscribe button { padding:4px 20px; }
#mg_footer_block .mg_copyright { display:block; text-align:center; color:#9A9A9A; font-size:13px; margin-top:40px; }
#mg_footer_block .mg_copyright a { padding:0px 4px; color:#9A9A9A; }
#mg_footer_block .mg_copyright a.activ, #mg_footer_block .mg_copyright a:hover { color:#fff; }
#mg_footer_block .reading_experience { display:block; text-align:right; color:#9A9A9A; font-size:16px; }
#mg_footer_block .reading_experience a { padding:0px 2px; color:#9A9A9A; text-decoration:underline; }
#mg_footer_block .reading_experience a.activ, #mg_footer_block .reading_experience a:hover { color:#fff; }
/*Footer End*/


#container_block .mg_login_block { display:block; margin:0 auto; width:40%;  }
#container_block .mg_login_block .mg_login_block_in { background:#000; padding:20px;  display:block;  }
#container_block .mg_login_block .mg_login_block_in input { display:block; border:1px solid #434345; background:#202022; box-shadow:none !important;  }
#container_block .mg_login_block .mg_login_block_in .lebel_text { display:inline-block; padding-left:10px; padding-top:0px; font-size:16px; }
#container_block .mg_login_block .mg_login_block_in .mg_login_btn { display:block; text-align:right; float:right; }
#container_block .mg_login_block .mg_lost_pass { display:block; padding-top:5px; }


.wc-forward  {
    background-color: #428BCA !important;
    border-color: #357EBD !important;
    color: #FFFFFF !important;
	-moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 4px !important;
    cursor: pointer;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 1.42857;
    margin:-6px 0 0 0px !important;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	box-shadow:none !important;
	background-image: linear-gradient(to bottom, #428BCA, #428BCA) !important;
	text-shadow: 0 0px 0 #CC1500 !important;
}


div.quantity {
    float: left;
    margin-top: -7px;
    white-space: nowrap;
	width:80%;

}

.col-1 .logo_container{
 text-align:center;
 font-weight:bold;
 font-size:70px;
 padding:5px;
 font-family: "Lava Regular"
}

.chosen-container{
width:50%!important;
}
section.fix #container_block .text06 {
color: #40474d;
}


/* ===================================== Screen Resolution CSS ===================================== */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){
#mg_header mg_header_in .mg_tpnav .mg_tpmenu li a { font-size:16px; padding:0px 5px; }
#mg_footer_block .footer_social_link li { padding-bottom:10px; }
#container_block .mg_product_block .mg_product_block_in .mg_product_img { min-height:263px; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu li a { font-size:16px; padding:0px 8px; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_slide { width:130px; }
#container_block .mg_product_block .mg_product_block_in { min-height:373px; }
#mg_header .mg_header_in .mg_tpnav .mobile_navigation { display: block;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }

}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#mg_header .mg_header_in { text-align:center; }
#mg_header .mg_header_in .mg_logo { text-align:center; }
#mg_header .mg_header_in .mg_tpnav .mg_tpmenu { display:none; }
#mg_header .mg_header_in .mg_tpnav .mobile_navigation { display:block; margin:20px 0px; }
#mg_header .mg_header_in .mg_tpnav .mobile_navigation select { min-height:30px; margin:0px; padding:5px; border-radius:0 !important; border:0px; }
#mg_header .mg_header_in .mg_search_box { float:none; }
#container_block .mg_main_font_block .mg_font_block .mg_font_style { font-size:60px;  line-height:80px; }
#container_block .mg_main_font_block .mg_font_block { padding:10px 0px 20px 0px; }
#container_block .mg_main_font_block .mg_font_block .mg_font_dec { font-size:18px; }
#container_block .mg_mid_hdn  { font-size:22px; }
#mg_footer_block .mg_copyright { margin:15px 0 10px 0px; }
#mg_footer_block .footer_social_link li { float:none; display:inline-block; text-align:center; }
#mg_footer_block .footer_social_link li.mg_mailing_btn { display:-moz-stack; width:29%; margin-top:15px; }
#mg_footer_block .footer_social_link { text-align:center;  }
#mg_footer_block .reading_experience { text-align:center; }
#container_block .text01 { line-height:90px; font-size:80px; }
#container_block .mg_tab_block .tab_button li a { padding:7px 14px; }
#container_block .mg_tab_block .mg_btn_block { top:34px; }
#mg_footer_block { position:relative; left:0; bottom:0; right:0; z-index:3; }
#container_block { margin:170px auto 50px auto; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list { margin-top:10px; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_slide { width:80%; }
#container_block .mg_edit_block .mg_edit_block_in .mg_edit_list li.mg_a { width:10%; }
#container_block .mg_shop_product .mg_size_block .mg_size_block_in { padding:6px 0 1px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_head2 { display:block; padding-bottom:5px; text-align:left; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_head { display:none; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_name { text-align:left; padding-bottom:10px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_cart_img { margin-bottom:10px; }
#container_block .mg_checkout_block .mg_checkout_block_in .Quntity_input { width:100%; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_cross { right:-15px; top:31px; }
#container_block .mg_btn_block3 { text-align:left; }
#mg_footer_block .reading_experience { padding-top:17px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_head3 { text-align:center; }
#container_block .mg_login_block { width:100%;  }

.content-text { padding:0px 0px; }


}
/*Tournament Tab End*/


/* Landscape phones and down */
@media (max-width: 480px) {
#mg_footer_block .footer_social_link li.mg_mailing_btn { width:45% !important; }
}













/*custom style*/
.current_page_item a{
 color: #FFFFFF !important;
    text-decoration: none;

}

.sub-menu{
display:none;
}

a {
font-weight:normal;
}

 form{
 margin:0;
 }

 #container_block .mg_checkout_block .mg_checkout_block_in .mg_cross {
    font-size: 17px;
    position: absolute;
    right: -30px;
    top: 7px;
    z-index: 10;
	padding:0 5px;
}
input[type="submit"]{
	-moz-user-select: none;
    background-color: #428BCA;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 4px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.42857;
    padding: 8px 12px !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075)!important;
	background-clip:none!important;
	text-shadow:none!important

}

a.button:hover, a.comment-reply-link:hover, #commentform #submit:hover, .submit:hover, input[type="submit"]:hover, input.button:hover, button.button:hover {
    background-color: #3276B1;
    background-image: linear-gradient(to bottom, #3276B1, #3276B1);
    text-decoration: none;
    border-color: #285E8E;
    color: #FFFFFF;
}

#container_block .mg_checkout_block .mg_checkout_block_in  .mg_deal_name { display:block; font-size:16px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_list { display:block; list-style:none; margin-bottom:10px; }
#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_list li { display:block; font-size:13px; color:#666; }
#container_block .mg_checkout_block .mg_checkout_block_in .order_total { font-size:25px; font-weight:bold; }
#container_block .mg_checkout_block .mg_checkout_block_in  hr {
    margin: 10px 0 !important;
}

#container_block .mg_checkout_block_in p {
padding-bottom: 0px!important;
}
.form-row {

    margin-bottom: 0px!important;

}

.checkout #order_review {
    background: none!important;
    border-radius: none!important;
    padding:0!important;
}
.payment_box {
 background: none repeat scroll 0 0 #F4F4F4!important;
}


.mg_edit_block_in input[type="checkbox"] { height:12px !important ;}
.mg_order_note  input[type="checkbox"]{
  margin-top: 0 !important;
  height:0px!important;
  outline:none;
}

.mg_checkout_block_in input[type="text"], input.input-text, input.txt, input[type="tel"], input[type="email"] {
background: none!important;
border-radius:none!important;
  box-shadow:none!important;
}
 .mg_checkout_block_in textarea{
 background: none!important;
border-radius:none!important;
  box-shadow:none!important;
 }

 .responsiveMenuSelect{
  border: 0 none;
    border-radius: 0 !important;
    margin: 0;
    min-height: 30px;
    padding: 5px;
	margin-bottom:0px;
 }

 .output { padding-top:0px;}

 /*for font preview*/
	 #text{
	font-size:.2em;
	width:100%;
	padding:5px;
	text-align:center;
	font-family: Arial;
    color: #5B5C5C!important;
    font-size: 13px!important;
    font-weight: normal!important;
    margin: 5px 0;
    padding: 5px;
	background: none !important;
    border: 1px solid #CCCCCC;
    border-radius: none!important;
     box-shadow: none!important;
	}

	#text:focus {
    background: none !important;
    border-color:#CCCCCC !important;
    box-shadow: none!important;
}

	#container_block .text02 {
		display: block;
		text-align: center;
	}
	#container_block .text01{
	max-height:170px;
	font-size:50px;
	}

	.ui-widget {
	margin-top:10px;
	}

	.mg_price_pro {
    font-size: 22px;
}
a.active{
color:#fff!important;
}
 /*for font preview*/


 .mc4wp-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.mc4wp-alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 2px;
    color: #C09853;
    display: block;
    margin: 1em 0;
    padding: 0px 5px;
    position: relative;
}
.mc4wp-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}


.chosen-container-single .chosen-single{
     background: none repeat scroll 0 0 #FFFFFF!important;
     border: 1px solid #E2E2E2!important;
    border-radius: 3px;
    box-shadow: 0 0 2px #000000!important;
    color: #B7B7B7!important;
    display: block;
	font-size: 13px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
	line-height: 25px!important;
	margin-bottom:6px;


}

a.button, a.comment-reply-link, #commentform #submit, .submit, input[type=submit], input.button, button.button {
display: inline-block;
padding: .236em .857em;
color: white;
text-align: center;
text-decoration: none;
font-size: 1em;
font-family: inherit;
cursor: pointer;
overflow: visible;
width: auto;
line-height: 1.618em;
margin: 0 .327em;
-webkit-font-smoothing: subpixel-antialiased;
font-weight: normal;
text-shadow:none!important;
background-color: #428BCA;
background-image: -webkit-gradient(linear, left top, left bottom, from(#428BCA), to(#428BCA));
background-image: -webkit-linear-gradient(top, #428BCA, #428BCA);
background-image: -moz-linear-gradient(top, #428BCA, #428BCA);
background-image: -ms-linear-gradient(top, #428BCA, #428BCA);
background-image: -o-linear-gradient(top, #428BCA, #428BCA);
background-image: linear-gradient(to bottom, #428BCA, #428BCA);
border: 1px solid #357EBD;
-webkit-border-radius: 0.202em;
border-radius: 0.202em;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-webkit-box-shadow:none!important;
box-shadow: none!important;
}
a.button, a.comment-reply-link, #commentform #submit, .submit, input[type=submit], input.button, button.button :hover{
background-color: #3276B1;
background-image: -webkit-gradient(linear, left top, left bottom, from(#3276B1), to(#3276B1));
background-image: -webkit-linear-gradient(top, #3276B1, #3276B1);
background-image: -moz-linear-gradient(top, #3276B1, #3276B1);
background-image: -ms-linear-gradient(top, #3276B1, #3276B1);
background-image: -o-linear-gradient(top, #3276B1, #3276B1);
background-image: linear-gradient(to bottom, #3276B1, #3276B1);

}

.mg_price_pro_out .amount{
color:#D7D7D7;
}
.mg_btn_block .mg_sold_out{
background:#D7D7D7;
}


.post img, .type-page img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none!important;
    display: block;
    height: auto !important;
    max-width: 100%;
}
.post img, .type-page img { padding:0px !important; }

.post img:hover, .type-page img:hover {
    border-color: none!important;
}
.force-right{
text-align:right;
}

.checkout #order_review #payment ul li .payment_box {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border-radius: 0!important;
    padding: 1em;
}

.payment_methods li {
padding:5px 15px 5px 5px;
}
.checkout #order_review #payment ul {
    border-bottom: none!important;
	background:#F4F4F4;
}

label[for='shipping_country']{
	display:none;
}

label[for='billing_country']{
	display:none;
}


#container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block {
 margin-left: -12px;
    padding: 10px 14px;
    width: 105%; }

#payment {
 margin-left: -12px;
 width: 105%

}
#payment ul {
    padding: 0px;
}

.checkout #order_review #payment ul li input[type="radio"] {
    margin-right: 0.1em!important;
}

.mg_checkout_block_in input[type="text"]:focus{
border:1px solid lavender!important;

}


#container_block .mg_login_block .mg_login_block_in input[type='email'] {
display: block;
border: 1px solid #434345;
background: #202022!important;
box-shadow: none !important;
}

.mg_copyright a:active{
color:#fff;
}


input[type="submit"] { -moz-user-select: none; background-color: #3273ab !important; background-image: none; border: 1px solid #3273ab !important; border-radius: 0px ; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075) !important; color: #FFFFFF !important; cursor: pointer; display: inline-block; font-size: 14px !important; font-weight: normal !important; line-height: 1.42857; padding: 8px 12px !important; text-align: center; text-shadow: none !important; vertical-align: middle; white-space: nowrap; }

.btn{
border-radius:0px!important;
}

.wc-forward{
border-radius:0px!important;
}

.price ins {
    color: #CC1625;
    font-weight: bold;
}
.price del {
    color: #CCCCCC;
	opacity: 1!important;

}

.current_page_parent a{
color:#ffffff!important;
}

 #container_block .textc{ color:#fff; }

 .remove_pro{
 font-size:22px; font-weight:bolder;
 text-decoration:underline!important;
 display: block;
float: right;
padding-left: 20px;
 }

 .quantity .plus{
 display:none;
 }

.quantity .minus{
 display:none;
 }
.loader_full{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.85;
    filter: alpha(opacity=80);
	background:#fff;
	height:200%;


}
 /*----------Night css Start--------------*/

body.night { background:#000; }
body.night #container_block h2 { color:#ccc; }
body.night #container_block h1{ color:#ccc; }
#container_block .text06 { color:#9A9A9A;}
body.night #container_block .text05 { color:#fff; }
body.night #container_block .text06 { color:#fff; }
body.night #container_block  strong{ color:#fff; }
body.night #container_block .mg_shop_product .mg_dimation_list li { color:#9A9A9A ; }
body.night #container_block .mg_shop_product .mg_size_block .mg_price_pro { color:#fff; }
body.night #container_block .btn { background-color: #f26d7e !important; border-color: #f26d7e !important; color: #FFFFFF; }
body.night #container_block .btn:hover { background-color: #ed6072 !important; }
body.night #container_block  h3 { color:#f26d7e !important; }
body.night #container_block  h3:hover { color:#378cc2 !important; }
body.night #container_block p { color:#9A9A9A; }
body.night #container_block .text07 a { color:#f26d7e !important; }
body.night input[type="submit"] { -moz-user-select: none; background-color: #f26d7e !important; background-image: none; border: 1px solid #f26d7e !important; border-radius: 0px ; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075) !important; color: #FFFFFF !important; cursor: pointer; display: inline-block; font-size: 14px !important; font-weight: normal !important; line-height: 1.42857; padding: 8px 12px !important; text-align: center; text-shadow: none !important; vertical-align: middle; white-space: nowrap; }

body.night #container_block hr { border-color:#444444 !important;}
body.night #container_block .mg_main_font_block .mg_font_block .mg_font_name { color:#fff; }
body.night #container_block .mg_main_font_block .mg_font_block .mg_font_dec { color:#6D7578; }
body.night #container_block .mg_product_block .mg_product_block_in {/* box-shadow: 0 0 1px #5F5F5F;*/ }
body.night #container_block .mg_product_block .mg_product_block_in .product_name { color:#f26d7e ; }
body.night #container_block .mg_product_block .mg_product_block_in:hover .product_name { color:#3686c5; }
body.night #container_block .mg_list_style li { color:#9A9A9A; }
body.night #container_block .text07 { color:#fff; }
body.night #container_block .textc{ color:#fff; }
body.night #container_block .mg_edit_block { border: 1px solid #434343; background:#000; }
body.night #container_block .mg_tab_block .tab_button li a { color: #939393; }
body.night .mg_price_pro { color:#fff; }
body.night #container_block .mg_tab_block .tab_button { display:block; margin:0px; padding:0px; height:29px; list-style:none; border-bottom:1px solid #434343; }
body.night #container_block .mg_tab_block .tab_button li.cc_active a { border-left:1px solid #434343; border-right:1px solid #434343; border-top:1px solid #434343; border-bottom:1px solid #000;  height:43px; color:#F26D7E !important ; }
body.night #container_block .mg_edit_block .mg_edit_block_in select { background: none repeat scroll 0 0 #D3D3D3; color: #000000; }
body.night .ui-widget-content { background: none repeat scroll 0 0 #FFFFFF; color: #222222; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block { background:#000 !important; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_head { color:#666; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_name a { color:#f26d7e; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_block .mg_deal_name { color:#fff; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_head3 { color:#fff; }
body.night #container_block input { border: 1px solid #707070; }
body.night #container_block .mg_checkout_block .mg_checkout_block_in .mg_deal_name { color:#fff; }
/*body.night #container_block .mg_login_block { margin-top:40px;  }*/
body.night .col-1 .logo_container{color:#fff;}
body.night #container_block .mg_login_block .mg_login_block_in { background:#202022; }
body.night .col-1 .logo_container { font-size:70px; }
body.night #mg_footer_block { background: none repeat scroll 0 0 #131313; border-top: 1px solid #202020; border-top:none; }
body.night .detail_btn { display:block; background:#f26d7e; padding:4px 20px; border:none; color:#fff; float:right; margin-left:5px; }
body.night .detail_btn:hover { background:#e66071;}
body.night #mg_header .mg_submenu_block .mg_submenu li a:hover, a:focus {
    color: #fff;
}
body.night #container_block  .woocommerce-error strong {
    color: #5B5C5C;
}

 body.night #container_block .wc-forward{
 background:none repeat scroll 0 0 #F26D7E!important;
 }

