/* JAF Bernino Sans Web */

@font-face{ font-family: BerninoSans-Web-Light;     font-style: normal; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Light");}
@font-face{ font-family: BerninoSans-Web-Light;     font-style: italic; font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-LightItalic");}

@font-face{
  font-family: BerninoSans-Web;
  font-style: normal;
  font-weight: normal;
  src: url("http://webfonts.justanotherfoundry.com/BerninoSans/BerninoSans-Web-Regular");
}

@font-face{
  font-family: BerninoSans-Web;
  font-style: italic;
  font-weight: normal;
  src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Italic");
}
@font-face{ font-family: BerninoSans-Web-Semibold;  font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Semibold");}
@font-face{ font-family: BerninoSans-Web-Semibold;  font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-SemiboldItalic");}
@font-face{ font-family: BerninoSans-Web;           font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Bold");}
@font-face{ font-family: BerninoSans-Web;           font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-BoldItalic");}
@font-face{ font-family: BerninoSans-Web-Extrabold; font-style: normal; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-Extrabold");}
@font-face{ font-family: BerninoSans-Web-Extrabold; font-style: italic; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-ExtraboldItalic");}

/* JAF Bernino Sans Web Narrow */
@font-face{ font-family: BerninoSans-Web-NarrowLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowLight");}
@font-face{ font-family: BerninoSans-Web-Narrow;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowRegular");}
@font-face{ font-family: BerninoSans-Web-NarrowSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowSemibold");}
@font-face{ font-family: BerninoSans-Web-Narrow;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowBold");}
@font-face{ font-family: BerninoSans-Web-NarrowExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-NarrowExtrabold");}

/* JAF Bernino Sans Web Condensed */
@font-face{ font-family: BerninoSans-Web-CondLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedLight");}
@font-face{ font-family: BerninoSans-Web-Cond;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedRegular");}
@font-face{ font-family: BerninoSans-Web-CondSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedSemibold");}
@font-face{ font-family: BerninoSans-Web-Cond;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedBold");}
@font-face{ font-family: BerninoSans-Web-CondExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CondensedExtrabold");}

/* JAF Bernino Sans Web Compressed */
@font-face{ font-family: BerninoSans-Web-CompLight;     font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedLight");}
@font-face{ font-family: BerninoSans-Web-Comp;          font-weight: normal; src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedRegular");}

@font-face{ font-family: BerninoSans-Web-CompSemibold;  font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedSemibold");}
@font-face{ font-family: BerninoSans-Web-Comp;          font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedBold");}
@font-face{ font-family: BerninoSans-Web-CompExtrabold; font-weight: bold;   src: url("http://webfonts.justanotherfoundry.com/BerniniSans/BerninoSans-Web-CompressedExtrabold");}

@font-face {
  font-family: "Lava Regular 3";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-001368-007151-001181-1401967208.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-001368-007151-001181-1401967208.eot?#iefix")
  format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-001368-007151-001181-1401967208.woff")
  format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-001368-007151-001181-1401967208.svg#typotheque_webfonts_service") format("svg");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
